@import './globals';

.ts-controls{
    position: absolute;
    display: inline-block;
    z-index: 3;
    margin-top: 230px;
    width: inherit;

}

.ts-paging {
  width: inherit;
  text-align:center;
  display: inline-block;
  top:12px;
  left:0;
  display: inline-block;
}
.ts-paging-btn {
  display:inline-block;
  width:10px;
  height: auto;
  max-height: 10px;
  padding-top:10px;
  margin-left:20px;
  border-radius:50%;
  background: #d7dee8;
  overflow: hidden;
  border: none;
}
.ts-paging-btn:first-child {
  margin-left: 0;
}
.ts-paging-active {
  background: #385887;
}


.sticky{
  position: fixed;
  top: 0;
}
