@import './globals';

.section-wrapper{
  display: flex;
  justify-content: center;
  width: 945px;
  position: relative;

  h3{
    color: black;
    text-align: center;
    margin-top: 50px;
    font-family: nanumGothic-extraBold;
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
  }

  .exhib-article{
    display: flex;
    justify-content: center;
    flex: 3;
    position: relative;
  }
  .notic-article{
    display: flex;
    justify-content: center;
    flex: 3;
    position: relative;
  }
}

.exhib-more{
  display: float;
  float: right;
  position: relative;
  font-size: 0.8rem;
  margin-top: 15px;

  a{
    text-decoration: none;
    color: darken($lightgrey,40%);

    &:hover{
      color: darken($lightskin, 50%);
      font-weight: 200;
      border-bottom: 2px solid darken($lightskin, 20%);
    }
  }
}
