@import './globals';

.header-nav{
  font-weight: 200;
  font-size: 0.9rem;
  margin-left: 10px;
  padding-top: 2px;
  height: 22px;
  width: 100%;
  position: absolute;

  span{
    &:last-child{
      font-size: 0.8rem;
      color: $darkgrey;
      margin-left: 12px;
    }
  }
}
