@import './globals';

.main-header{
  position: relative;
  background-color: black;
  color: white;
  font-family: nanumGothic-extraBold;
  font-size: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  white-space: nowrap;
  width: 100%;
  z-index: 4;
  opacity: 0.80;
}
