@import './globals';

nav{
  font-size: 0;
  z-index: 2;
  position: absolute;

#mainNav{
  margin-left: 13px;
}

  ul{
    position: relative;
    display: float;
    float: left;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    font-family: nanumGothic-bold;
    font-size: 1rem;
    color: darken($darkgrey, 50%);
    background: transparent;



    li{
      float: left;
      text-align: center;
      width: 100px;
      height: 20px;
      &:hover{
        border-bottom: 3px solid darken($lightskin, 30%);
        cursor: pointer;
        color: $lightskin;
      }


      a{
        text-decoration: none;
        font-family: nanumGothic-bold;
        color: inherit;
        width: inherit;
        height: inherit;
      }

      ul{
        font-size: 0.9rem;
        color: darken($darkgrey, 30%);
        top: -10px;
        display: none;
        li{
          padding: 0;
          height: 1.5rem;
          &:first-child{
          }
        }
      }

      &:hover{
        ul{
          display: block;
          }

        }

    }

  }
}
