@import './globals';


.open-wrapper{
  margin-top: 30px;
  padding: 10px;
  background-color: darken($darkgrey, 20%);
  color: white;
  width: 320px;
  height: 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  grid-template-rows: repeat(4, 1fr);
  box-shadow: 0 8px 38px rgba(0, 0, 0, 0.3),0 5px 12px rgba(0, 0, 0, 0.22);

.open-notice{
  grid-column: 1/3;


  .time-icon{
    color: red;
    font-size: 2rem;
    grid-column: 1/2;
  }

  .time-explain{
    grid-column: 2/3;
    font-size: 0.9rem;
    padding-left: 10px;

    span.day{
      color: #ed8484;
      font-size: 1.1rem;
    }
    span.time{
      color: #ed8484;
      font-size: 1.1rem;
      display: block;
    }
  }

}

.open-timetable{
  grid-column: 3/5;


  table{
    border-collapse: collapse;
    margin-top: 2rem;
    color: #9ea0a3;
    text-align: center;
    font-size: 1rem;
    position: relative;

    tbody{
      th{
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
      }
      td{
        font-size: 0.9rem;
      }
      td:first-child{
        font-size: 0.8rem;
      }
      td-btn{
        margin-top: 0.3rem;
      }
      tr:first-child{
        border-bottom: 1px solid $lightgrey;
      }
      tr:last-child{
        border-top: 1px solid $lightgrey;
        padding-top: 0.5rem;
        td{
          color: darken(#9ea0a3,20%);
          font-size: 0.8rem;
          text-align: left;
        }
      }
    }
  }

}
}
