@import './globals';
@import './MainNav';

nav#sub-nav{
  font-size: 0;
  z-index: 2;
  right: 3rem;

    ul{
      display: float;
      float: right;
      margin: 0;
      margin-top: 1rem;
      padding: 0;
      list-style: none;
      font-family: nanumGothic-regular;
      font-size: 0.8rem;
      color: darken($darkgrey, 20%);
      background: transparent;

      li{
        float: left;
        text-align: center;
        width: 60px;
        height: 20px;
        margin-bottom: 0.3rem;
        a{
          text-decoration: none;
          font-family: nanumGothic-bold;
          color: inherit;
          width: inherit;
          height: inherit;
        }
      }
}

}
