@import './globals';

.template{
  width: 100%;
  overflow: hidden;

  .header{
    height: 22px;
    background-color: $lightskin;
  }

  .header-wrapper{
    height: 80px;
    background-color: $darkgrey;
  }


}
