@import './globals';

.template{
  width: 100%;
  overflow: hidden;

  .header{
    height: 22px;
    background-color: $lightskin;
  }

.container{
  .header-wrapper{
    height: 80px;
    background-color: $darkgrey;
  }

  .nav-wrapper{
  }

  .slider-wrapper{
  }
}

.container-next{
  display: flex;
  justify-content: center;

  .article-wrapper{
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
  }
}

}
