
@mixin nav-menu-default{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  width: 100%;
}

#navi-wrapper{
  width: 25%;
  height: 100%;
  color: #f2e2d7;
  height: inherit;
  position: fixed;
  z-index: 2;

  .navi-go-back{
    font-size: 1.8rem;
    color: darken(#f2e2d7, 20%);
    margin: 20px;
    padding: 20px;


    span{
      display: inline-block;
      font-size: 1rem;
      margin-left: 1rem;
      padding-bottom: 6px;
    }
    .navi-slash{
      margin-left: 15px;
      margin-right: 20px;
    }
    .navi-current{
      font-size: 1.4rem;
      margin-left: 1rem;
    }
  }


  .navi-menu{
    position: inherit;
    display: flex;
    flex-direction: column;
    width: 25%;
    overflow: hidden;

    #navi-museum{
      @include nav-menu-default;
    }
    #navi-leejs{
      @include nav-menu-default;
    }
    #navi-studio{
      @include nav-menu-default;
    }

    .selected{
      background-color: rgba(48,68 ,99, 1);
    }

  }


}
