.intro-container{
  display: flex;
  &:before{
    background: url('../../../imgs/src/introNavBackground.jpg') repeat scroll;
    position: absolute;
    opacity: 0.3;
    filter: alpha(opacity=90);
    z-index: -1;
    content: '';
    width: 25%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
  }

  .intro-nav{
    display: flex;
    flex: 2;
    text-align: center;
    height: 100%;
  }
  .intro-contents{
    display: flex;
    flex: 6;
    flex-direction: column;
    background-color: #f4f4f4;
    .leejs{
      display: flex;
      justify-content: center;
    }
  }
}


.headerNav-wrapper{
  z-index: 4;
  height: 22px;
  background-color: #f2e2d7;
}

.mainHeader-wrapper{
}
