.leejs-wrapper{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .leejs-intro{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .leejs-jeju{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
